# NOTE: this requires access to some private repos
# remove --shell-file argument to use ./shell.nix which
# does not depend on any public repositories.
eval "$(lorri direnv --shell-file ./shell-private.nix)"
